
body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #1F2937;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.body {
    flex-direction: column;
    flex: 1;
    display: flex;
    
}

.body-item {
    flex: 1;
    padding: 20px;
}

.footer {
    background-color: lightgray;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}